html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  text-align: center;
  width: 100%;
  padding: 20px;
}

.paragraph {
  font-size: 18px;
  max-width: 600px;
  line-height: 1.6;
  text-align: center;
  margin-top: 20px;
}
